@model MyStudentDAL.Models.Students
@{
    ViewBag.Title = "Delete Students";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- <h2>Click on DELETE button to continue...</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p> -->
<!-- <div class="container">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ratings.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ratings.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalMarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMarks)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.Id)
        <div class="form-actions no-color">
                <input type="submit" value="Delete" id="btnDel" class="btn btn-block" />
        </div>
    }
</div> -->

 @{Html.RenderPartial("_PartialDelete");}
<br><br><br>
@Html.ActionLink("Back to List", "Index", "Students")
@*@Html.Partial("~/Views/Students/_PartialDelete.cshtml")
@{Html.RenderPartial("_PartialDelete");}
*@

